---
import MainLayout from '../../layouts/MainLayout.astro';
import SignInForm from '../../components/SignInForm.astro';
---

<MainLayout title="Sign In">
  <div class="text-center mb-4">
    <h1>Sign In</h1>
    <p class="lead">Access the MycoSci community forum.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <SignInForm />
    </div>
  </div>
</MainLayout>
