---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Page Not Found" description="The page you requested could not be found">
  <div class="text-center py-5 not-found">
    <h1 class="display-4 mb-3">404 - Not Found</h1>
    <p class="lead">Sorry, we couldn't find that page.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
  </div>
</MainLayout>
