---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Gallery">
  <div class="container my-5">
    <h1 class="mb-4 text-center">Mushroom Gallery</h1>
    <p class="mb-5 text-center">A visual tour of our fungal friends. More images coming soon.</p>
    <div class="row row-cols-2 row-cols-md-5 g-3">
      {Array.from({ length: 20 }).map(() => (
        <div class="col">
          <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="Mushroom photo" />
          </div>
        </div>
      ))}
    </div>
  </div>
</MainLayout>
