---
---
<footer class="footer-gradient text-white mt-auto">
  <div class="container py-5">
    <div class="row row-cols-2 row-cols-md-4">
      <div class="col mb-4">
        <h5 class="text-uppercase">Discover</h5>
        <ul class="list-unstyled">
          <li><a href="/explore" class="footer-link">Explore</a></li>
          <li><a href="/gallery" class="footer-link">Gallery</a></li>
          <li><a href="/mycogram" class="footer-link">MycoGram</a></li>
          <li><a href="/mycopedia" class="footer-link">MycoPedia</a></li>
        </ul>
      </div>
      <div class="col mb-4">
        <h5 class="text-uppercase">Learn</h5>
        <ul class="list-unstyled">
          <li><a href="/docs" class="footer-link">Docs</a></li>
          <li><a href="/blog" class="footer-link">Blog</a></li>
          <li><a href="/resources" class="footer-link">Resources</a></li>
          <li><a href="/lab" class="footer-link">Lab &amp; Cultivation</a></li>
        </ul>
      </div>
      <div class="col mb-4">
        <h5 class="text-uppercase">Community</h5>
        <ul class="list-unstyled">
          <li><a href="/community" class="footer-link">Forums</a></li>
          <li><a href="/mycogram" class="footer-link">Photo Sharing</a></li>
        </ul>
      </div>
      <div class="col mb-4">
        <h5 class="text-uppercase">MycoSci</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="footer-link">Home</a></li>
          <li><a href="#top" class="footer-link">Back to Top</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <small>&copy; {new Date().getFullYear()} MycoSci</small>
    </div>
  </div>
</footer>
