---
---
<form class="bg-dark p-4 rounded">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
