---
---
<html>
  <head>
    <script>
      const slug = Array.isArray(Astro.params.slug) ? Astro.params.slug.join('/') : Astro.params.slug;
      window.location.href = '/docs/' + slug;
    </script>
  </head>
  <body></body>
</html>
